body {
    font-family: "Calibri Light", sans-serif;
}

.centeringChildren {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.insideContent {
    display: inline-block;
    padding: 10px;
}

/* header footer */
header {
    color: #fff;
    background-color: #000;
}

#symbol {
    font-size: 28px;
    font-family: Calibri, sans-serif;
}

a.siteNav {
    margin: 8px;
    color: #fff;
    font-size: 21px;
}

a:hover.siteNav {
    color: #DDD;
    text-decoration: none;
}

a:active.siteNav {
    position: relative;
    bottom: 3px;
    color: rgb(221, 221, 221);
    text-decoration: none;
}

nav {
    margin: 20px 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    background-color: #000;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footerNav {
    width: 100%;
}

#copyright {
    color: #666;
}

/* body */
.content {
    padding: 20px 50px;
}

#intro {
    width: 400px;
}

#profilePic {
    height: 250px;
    width: 250px;
    margin-top: 50px;
}